<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Plus-value</title>
	</head>
	<body>
		<h1>Calcul des plus-values sur cessions d'actifs numériques</h1>

		<p>La formule permettant de calculer la plus-value est la suivante :</p>

		<img src="{{url_for('static', filename='img/plus-value.svg')}}", alt="Formule de la plus-value">

		<p>Se référer à l'article 150 VH bis du CGI* pour plus de détails sur la méthode de calcul</p>

		<p>Rendez-vous sur ce <a href="{{url_for('formulaire')}}">lien</a> pour calculer votre plus-value</p>

		<p style="font-style: italic;">*Code général des impôts</p>
	</body>
</html>
